[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "*"
streamlit = "*"
huggingface-hub = "*"
datasets = "*"
elasticsearch = "*"

[dev-packages]
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"

[requires]
python_version = "3.12"
